<div class="jumbotron">
    <h4>Parking Management Application</h4>
    <p class="lead">Welcome!!!</p>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Login", "Login", "Register", new { area = "" }, null)
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Register", "Index", "Register", new { area = "" }, null)
    </div>
    <div class="col-md-4">
        
    </div>
</div>
